.odd {
    background-color: rgb(255, 208, 208);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

#three {
    font-size: 24px;
}

#four {
    background-color: rgb(80, 255, 80);
    font-size: 24px;
    font-weight: bold;
}